body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.container {
    width: 300px;
    margin: 80px auto;
    padding: 20px;
    background: white;
    text-align: center;
    border-radius: 8px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}

button {
    padding: 10px;
    width: 100%;
    background: #2c7be5;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #1a5fc2;
}
